@font-face {
    font-family: am_xix;
    /* Гарнитура шрифта */
    src: url('../webfonts/VlaShu.ttf');
    /* Путь к файлу со шрифтом */
}


[x-cloak] {
    display: none !important;
}


.home__title {
    font-size: 80px;
    font-family: 'Lobster', cursive;
}

.text-transparent {
    color: transparent;
}


.bg-marketing{
    background-image: url('https://images.unsplash.com/photo-1593462475357-67ac85ec71a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    position: relative;
}

.bg-marketing::before{
    content: '';
    background-color: rgb(0 0 0 / 60%);
    width: 100%;
    height: 100%;
    z-index: 0;
    top:0;
    position: absolute;
}

.bg-offer{
    background-image: url('https://images.unsplash.com/photo-1552083940-86877723de7a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    position: relative;
}

.bg-offer::before{
    content: '';
    background-color: rgb(0 0 0 / 60%);
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
}

body {
    /* color: white; */
}

.swiper-slide {
    width: 100%;
}

.logo img {
    width: 35%;
}

.custom-news-bg{
    background-color: #F5F5F5;
  }

.statistic {
    background-image: url('https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
    position: relative;
}

.statistic::before {
    content: '';
    background-color: rgb(51 53 189 / 82%);
    width: 100%;
    height: 100%;
    z-index: 50;
    position: absolute;
}

.home {

    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1557264322-b44d383a2906?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');


}

.home__background {
    background-image: url('https://images.unsplash.com/photo-1557264322-b44d383a2906?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
    background-repeat: no-repeat;
    background-size: cover;

    background-color: #fff;
    background-position-y: center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

@media only screen and (max-width: 600px) {
    .home {
        background-position-y: center;
    }
}
/* 
.nav {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #111;
    transition: all .5s ease-in-out;
} */

nav.scroll {
    background-color: #A1572F;
    color: #eef;
  }

.scroll {
    background-color: transparent;
}

.home:before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 49%);
    position: absolute;
    z-index: 40;
    top: 0;
    left: 0;
}

#myVideo>video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#myVideo {
    position: absolute;
    right: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -20;
    object-fit: cover;
}

.banner__title {
    font-size: 30px;
    font-family: 'Lobster', cursive;
}

@media only screen and (max-width: 600px) {
    .home__title {
        font-size: 30px;
    }
}

.card__title {
    font-family: 'Lobster', cursive;
    font-size: 32px;
}

.work__title {
    font-size: 32px;
    line-height: 1.3;
}

.home__sub-title {
    font-size: 50px;
    letter-spacing: 0.07em;
    font-family: 'Lobster', cursive;
}

@media only screen and (max-width: 600px) {
    .home__sub-title {
        font-size: 18px;
    }
}

.logo {
    font-family: 'Lobster', cursive;
    font-size: 34px;
}

.navlink {
    font-size: 18px;
}

.title {
    /* font-size: 40px; */
    font-family: 'Pattaya', sans-serif;
    position: relative;
}

.title::before {
    background-image: url('../img/right_border.svg');
    content: '';
    content: '';
    display: block;
    width: 100%;
    height: 10px;
    background-repeat: no-repeat;
    position: absolute;
    left: 110%;
    top: 44%;
}

@media only screen and (max-width: 600px) {
    .title::before {
        display: none;
    }
}

.title::after {
    background-image: url('../img/left_border.svg');
    content: '';
    content: '';
    display: block;
    width: 100%;
    height: 10px;
    background-repeat: no-repeat;
    position: absolute;
    right: 90%;
    top: 44%;
}

@media only screen and (max-width: 600px) {
    .title::after {
        display: none;
    }
}

.bordered::before {
    background-image: url('../img/left_border-b.svg');
    content: '';
    display: block;
    width: 100%;
    height: 10px;
    background-repeat: no-repeat;
    position: absolute;
    left: 17%;
    top: 38%;
}

.bordered::after {
    background-image: url('../img/right_border-b.svg');
    content: '';
    display: block;
    width: 100%;
    height: 10px;
    background-repeat: no-repeat;
    position: absolute;
    left: 55%;
    top: 38%;
}

.map__badge {
    background-color: #BA0020;
}

.map__text {
    font-family: 'Pattaya', sans-serif;
}

.service__item {
    /* display: block; */
    width: 100%;
    height: 300px;
    /* padding: 50px; */
    background-size: cover;
}

.service__one {
    background-image: url('../img/b-1.jpg');
}

.service__two {
    background-image: url('../img/b-2.jpg');
}

.service__three {
    background-image: url('../img/b-3.jpg');
}

.service__four {
    background-image: url('../img/b-4.jpg');
}

.service__five {
    background-image: url('../img/b-4.jpg');
}

.service__six {
    background-image: url('../img/b-5.jpg');
}

.service__seven {
    background-image: url('../img/b-6.jpg');
}

.service__eight {
    background-image: url('../img/b-7.jpg');
}

.white_label {
    background-color: #fff;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    .white_label {
        font-size: 14px;
    }
}

.btn-footer {
    background: #FEFFC6;
}

footer {
    height: 83px;
}

.img__work img {
    width: 100%;
}

[x-cloak] {
    display: none;
}

.duration-300 {
    transition-duration: 300ms;
}

.ease-in {
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.ease-out {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.scale-90 {
    transform: scale(.9);
}

.scale-100 {
    transform: scale(1);
}

.btn {
    padding: 0 20px;
}



/* Zoom in Keyframes */
@-webkit-keyframes zoomin {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes zoomin {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

/*End of Zoom in Keyframes */

/* Zoom out Keyframes */
@-webkit-keyframes zoomout {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.67);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes zoomout {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.67);
    }

    100% {
        transform: scale(1);
    }
}

/*End of Zoom out Keyframes */


.post-image {
    position: relative;
}

.post-image::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(32 5 255 / 47%);
    z-index: 30;
    border-radius: 0.5rem;
}