{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/style.min.css" %}'>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    {% block styles %}
    {% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Jura&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpine-collective/alpine-magic-helpers@1.2.x/dist/scroll.min.js" defer></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}" defer></script>
    
    

    <title>😎Apollo.kz - создание сайтов</title>


    <script>
        var myNav = document.getElementById("nav");

        window.onscroll = function () {
            "use strict";
            if (document.body.scrollTop >= 280 || document.documentElement.scrollTop >= 280) {
                myNav.classList.add("scroll");
            } else {
                myNav.classList.remove("scroll");
            }
        };
    </script>



</head>

<body x-data="{ 'isDialogOpen': false, 'darkMode': false }" @keydown.escape="isDialogOpen = false" x-init="
darkMode = JSON.parse(localStorage.getItem('darkMode'));
$watch('darkMode', value => localStorage.setItem('darkMode', JSON.stringify(value)))">
    <div :class="{'dark': darkMode === true}">
        <div class="bg-gray dark:bg-primary dark:text-white text-black">
            {% include 'navbar-thx.html' %}
            {% include 'modal.html' %}
            {% block content %}
            {% endblock content %}
            {% include 'footer.html' %}
        </div>
    </div>
</body>

</html>