{% load static %}






<footer id="contact" class="bg-primary h-full  bg-marketing">



  <!-- <section id="contact" class="py-20 text-black bg-red  ">

    <div class="overflow-hidden">
        <div class="background absolute w-full top-0 left-0 z-50">
            <div class="star1 star"></div>
            <div class="star2 star"></div>
            <div class="star3 star"></div>
            <div class="star4 star"></div>
        </div>
        <div class="container mx-auto relative z-50 text-white">
  
  
       
  
  
        </div>
    </div>
  </section> -->

  <div class="relative lg:h-full h-screen g:mx-0 mx-5">

    <div class="flex flex-col h-80 w-full">


      <div class="flex flex-col items-center w-full pb-10  z-50 absolute -top-20 ">




        <div class="container relative ">
          <div
            class="lg:py-5 lg:px-10 p-5 bg-opacity-90 bg-help bg-secondary text-white w-full rounded-lg flex lg:flex-row flex-col items-center justify-between relative">

            <div class="lg:py-10 py-5  flex flex-col lg:items-start items-center">

              <div class="flex  lg:flex-row flex-col items-center relative z-50">
                <div class="div">
                  <div
                    class="w-20 h-20 lg:mb-0 mb-10 p-1 bg-white text-primary rounded-full shadow-xl flex items-center justify-center">
                    <span class="text-4xl">
                      <img class="w-10 h-10" src="{% static '/img/icons/frame/5.svg' %}" alt="">
                    </span>
                  </div>
                </div>

                <div class="pl-5 w-full flex flex-col justify-center items-start">
                  <h1 class="lg:text-4xl text-4xl lg:pb-2 pb-5  lg:text-3x1 font-bold text-lg text-white">
                    Узнать цену за 30 минут</h1>

                  <div class="flex w-full lg:flex-row flex-col items-start w-full">

                    <span class="lg:pr-5 py-1  mr-5">
                      Ответим через: 5 минут
                    </span>



                    <span class="lg:px-5 py-1 lg:mr-5">
                      Сделаем индивидуальный просчет сайта
                    </span>


                  





           


                  </div>
                </div>
              </div>

            </div>

            <div class="relative lg:my-0 my-5 z-50">
              <a href="https://wa.me/+77761604911" class="border
              bg-white
              w-full
              text-center
              text-secondary
               border-primary
               border-opacity-20
               focus:outline-none
               py-4 px-6 rounded-lg
               uppercase
               text-sm
               tracking-wide
               font-bold
            
               hover:border-none
               cursor-pointer
               transition flex
               items-center ">
                Написать в whatsapp
              </a>
            </div>


          </div>
        </div>

        <!-- 
        <div class="container w-full lg:mx-0 mx-5 ">

          

          <div class="p-5 bg-white relative w-full flex-col rounded-lg flex items-center ">


            <div class="absolute -top-11 w-20 h-20 text-primary p-1 bg-white dark:bg-blueLight rounded-full shadow-xl flex items-center justify-center">
              <span class="text-4xl">
                <img class="w-10 h-10" src="{% static '/img/icons/frame/5.svg' %}" alt="">
              </span>
          </div>

            <div class="pt-10 text-center flex flex-col items-center ">

              <h1 class="lg:text-4xl mb-10  text-3x1 home__sub-title">Узнать цену за 30 минут</h1>
          
               <p class="py-2 mb-5 lg:text-lg text-sm">По нашему опыту, большинство клиентов не знают, какой нужно выбрать им сайт.<br>
                Наш специалист готов ответить на инетерсующие вас вопросы и подсказать какой сайт нужен вам.
              </p> -->


      </div>


    </div>







  </div>


  </div>



  <div
    class="border-t border-white border-opacity-20 absolute bottom-0 z-50 flex w-full lg:flex-row flex-col w-full items-end lg:justify-between p-5 ">
    <div class="lg:w-1/3 w-full flex lg:justify-start justify-center lg:order-none order-2">
      <span class="uppercase text-sm tracking-widest text-white ">ТОО "Apollo Company" 2021</span>
    </div>
    
    <div class="lg:w-1/3 w-full flex lg:justify-end justify-center">
      <span class="uppercase text-sm tracking-widest text-white lg:py-0 py-3">Все права защищены</span>
    </div>
  </div>


  </div>
  </div>

</footer>