<div x-cloak class="overflow-auto" style="background-color: rgba(0,0,0,0.5)" x-show="isDialogOpen"
    :class="{ 'fixed inset-0 z-60 flex items-center justify-center': isDialogOpen }">

    <div class="bg-white shadow-2xl m-4 sm:m-8 text-black" x-show="isDialogOpen" @click.away="isDialogOpen = false">
        <div class="flex justify-between items-center border-b border-primary border-opacity-20 p-2 text-xl">
            <h6 class="text-xl font-bold">Условия акции</h6>
            <button type="button" @click="isDialogOpen = false">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                  </svg>
            </button>
        </div>
        <div class="p-5">
            <p class="mb-5">
                <h3 class="font-bold pb-5"> Условия акции</h3>
                В настоящее время, наша компания предоставляет акцию только клиентам,</br> которые заказали услугу от
                100
                000 (сто тысяч) тенге.
               <h3 class="font-bold py-5"> Компания в праве отказать в акции, если:</h3>
            <ul>
                <li>Если срок действия акции истек на данный момент;</li>
                <li>Заказчик не продоставил в обговоренный срок информацию;</li>
                <li>Заказчик представлил контент неподобающего содержания;</li>
            </ul>

            </p>

        </div>
    </div>
</div>