{% load static %}
<div
    class="flex text-black w-full justify-center lg:px-0 z-60  mx-auto delay-100 transition-colors duration-300 ease-in-out ">




    <div class="lg:px-10 flex w-full items-center text-white fixed z-60 dark:bg-primary text-black shadow-md border-b border-white border-opacity-25"
        x-data="{ atTop: true }" :class="{ 'bg-primary bg-opacity-90 ' : !atTop }"
        @scroll.window="atTop = (window.pageYOffset > 40) ? false : true">
        <div class="navbar w-full flex justify-center dark:text-white">
            <nav class="flex items-center lg:px-0 px-2 justify-between relative z-40 flex-wrap lg:py-6 py-3 fixed w-full top-0"
                x-data="{ isOpen: false }" @keydown.escape="isOpen = false"
                :class="{ 'shadow-lg bg-transparent' : isOpen }">

                <!--Logo etc-->
                <div class="pl-5 flex items-center flex-shrink-0 text-white mr-6">
                    <a class="logo" href="{% url 'main:index' %}">
                        Apollo
                    </a>
                </div>

                <div class="lg:hidden block font-bold ">


                    <a href="tel:87761604911">8 776 160-49-11</a>

                </div>

                <!--Toggle button (hidden on large screens)-->
                <button @click="isOpen = !isOpen" type="button"
                    class="block lg:hidden p-2 text-white hover:text-white focus:outline-none focus:text-white"
                    :class="{ 'transition transform-180': isOpen }">
                    <svg class="h-6 w-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path x-show="isOpen" fill-rule="evenodd" clip-rule="evenodd"
                            d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z" />
                        <path x-show="!isOpen" fill-rule="evenodd"
                            d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z" />
                    </svg>
                </button>


                <!--Menu-->
                <div class="w-full lg:px-0 px-5 flex-grow lg:flex lg:items-center lg:w-auto lg:relative absolute lg:top-0 top-20 left-0 z-50"
                    :class="{ 'block shadow-3xl': isOpen, 'hidden': !isOpen, 'bg-primary' : isOpen }"
                    @click.away="isOpen = false" x-show.transition="true">
                    <ul class="pt-6 lg:pt-0 list-reset lg:flex items-center uppercase text-sm font-bold">
                        <li class="mr-3">
                            <a href="{% url 'main:index' %}"
                                class="cursor-pointer inline-block py-2 px-2  no-underline">
                               Главная</a>
                            </a>
                        </li>
                        <li class="mr-3">
                            <a class="cursor-pointer inline-block  no-underline hover:text-gray-200 hover:text-underline py-2 px-2"
                                @click="$scroll('#about'), isOpen = false">
                                О нас
                            </a>
                        </li>

                        <li class="mr-3">
                            <a class="cursor-pointer inline-block  no-underline hover:text-gray-200 hover:text-underline py-2 px-2"
                                @click="$scroll('#folio'), isOpen = false">
                                Наши работы
                            </a>
                        </li>

                        <!-- <li class="mr-3">
                            <a class="cursor-pointer animate-pulse inline-block  no-underline hover:text-gray-200 hover:text-underline py-2 px-2"
                                @click="$scroll('#sale'), isOpen = false">
                                Акция недели
                            </a>
                        </li> -->

                        <!-- <li class="mr-3">
                            <a class="cursor-pointer inline-block  no-underline hover:text-gray-200 hover:text-underline py-2 px-2"
                                @click="$scroll('#product'), isOpen = false">Продукты
                            </a>
                        </li> -->

                        <!-- <li class="mr-3">
                            <a href="{% url 'article:index' %}"
                                class="cursor-pointer inline-block  no-underline hover:text-gray-200 hover:text-underline py-2 px-2">Статьи
                            </a>
                        </li> -->


                        <!-- <li class="mr-3">
                <a class="inline-block text-white no-underline hover:text-gray-200 hover:text-underline py-2 px-2"
                    href="#" @click="$scroll('#second'), isOpen = false">отзывы
                </a>
            </li> -->


                        <li class="mr-3 lg:mb-0 mb-5">
                            <a class="cursor-pointer inline-block  no-underline hover:text-gray-200 hover:text-underline py-2 px-2"
                                @click="$scroll('#contact'), isOpen = false">Контакты
                            </a>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>




        <div class="navbar__right justify-end w-full items-center relative z-50 lg:flex hidden ">
            <div class="pr-5 font-bold flex">
                <div class="flex items-center mr-5">
          
                </div>
                <div class="flex items-center dark:text-white">


                    <a href="tel:87761604911">8 776 160-49-11</a>

                </div>
            </div>
            <a href="form"
                class="bg-secondary hover:bg-secondaryLight transition-all px-5 uppercase text-xs font-bold tracking-widest py-3 rounded-lg">Заказать
                звонок</a>

            <!-- <div class="hidden sm:inline-flex text-primary">
                <button @click="darkMode = !darkMode" :aria-checked="darkMode"
                    :class="{'bg-green': darkMode, 'bg-gray': !darkMode }" type="button"
                    class="mx-4 self-center relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-opacity-20 rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:outline-none hover:shadow bg-green"
                    role="switch">
                    <span class="sr-only">Enable light mode</span>
                    <span :class="{'translate-x-0': darkMode, 'translate-x-5': !darkMode }"
                        class="pointer-events-none relative inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200 translate-x-5">
                        <span
                            :class="{'opacity-100 ease-in duration-200': darkMode, 'opacity-0 ease-out duration-100': !darkMode }"
                            class="absolute inset-0 h-full w-full flex items-center justify-center transition-opacity opacity-0 ease-out duration-100"
                            aria-hidden="true">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 text-yellow-300" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z">
                                </path>
                            </svg>
                        </span>
                        <span
                            :class="{'opacity-0 ease-out duration-100': darkMode, 'opacity-100 ease-in duration-200': !darkMode }"
                            class="absolute inset-0 h-full w-full flex items-center justify-center transition-opacity opacity-100 ease-in duration-200"
                            aria-hidden="true">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 text-orange-600" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path fill-rule="evenodd"
                                    d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </span>
                    </span>
                </button>

            </div> -->

        </div>

    </div>


</div>