{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/starts.css' %}" />
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

{% endblock %}
{% block content %}



<section id="home" class="text-white dark:bg-primary dark:text-white home relative overflow-hidden ">



    <div class="relative overflow-hidden flex flex-col items-center justify-center z-40 h-full">
        <div class="background absolute w-full top-0 left-0 z-50">
            <div class="star1 star"></div>
            <div class="star2 star"></div>
            <div class="star3 star"></div>
            <div class="star4 star"></div>
        </div>


        <div class="w-100 h-full flex justify-center items-center relative z-60">

            <div class="text-center flex flex-col items-center relative z-50">
                <h1 class="home__title lg:text-8xl text-3x1 mb-5">Создание сайтов</h1>
                <h2 class="lg:text-2xl text-1x1 lg:p-0 p-5">Разрабатываем качественные, адаптивные сайты и оказываем полный комплекс
                    услуг по продвижению бизнеса в интернете. </br>Экспертно. Выгодно. Результативно </h2>
                <a href="form"
                    class="focus:outline-none py-4 px-6 bg-red dark:bg-green dark:text-black text-white lg:w-1/1 text-black w-1/1 rounded-lg mt-10 uppercase text-sm tracking-wide font-bold cursor-pointer transition ">
                    Оставить заявку</a>

            </div>

        </div>

    </div>











</section>



<section id="about" class="dark:bg-primary py-20 h-full ">
    <div class="container  mx-auto">
        <div class="flex flex-col items-center w-full">
            <h1
                class="home__sub-title text-5xl text-center bg-clip-text text-transparent bg-gradient-to-br dark:from-green from-black to-primary dark:to-blueLight p-2">
                Ключевые направления</h1>
            <div class="w-10 h-1 bg-secondary mt-5"></div>
            <p class="lg:px-0 px-5 py-10 w-full text-center dark:text-white text-black">
                Apollo с 2016 года занимается разработкой сайтов для бизнеса любой сложности. Наши специалисты имеют
                большой опыт построения эффективных решений как для малого, так и для среднего бизнеса. Мы считаем, что
                главной ценностью является тесное сотрудничество между заказчиком и поставщиком. Вместе мы можем создать
                решение, которое выведет бизнес на новый уровень. Мы помогаем клиентам достичь лучших результатов с
                минимальными затратами времени и денег. Поскольку Apollo имеет большой опыт работы в различных отраслях,
                мы помогаем компаниям внедрить эффективные инструменты для развития бизнеса.

            </p>

        </div>
        <div class="relative">
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
                <!-- <div class="w-60 h-60 bg-primary absolute z-0 -top-10 -left-10 rounded-full"></div>
                    <div class="w-10 h-10 bg-primary absolute z-0 -top-10 -left-20 rounded-full"></div>
                    <div class="w-60 h-60 bg-primary absolute z-0 -bottom-10 -right-10 rounded-full"></div>
                    <div class="w-10 h-10 bg-primary absolute z-0 -bottom-10 -right-20 rounded-full"></div> -->
                <div
                    class="z-50 bg-white lg:mx-0 mx-5 flex dark:bg-primary flex-col items-center border border-white lg:mb-5 dark:border-opacity-20 dark:text-white dark:border-white dark:text-black  rounded-lg p-5 shadow-xl">

                    <div
                        class="w-20 h-20 rounded-full mb-5  bg-gradient-to-br  dark:from-gray from-gray to-white dark:to-green bg-gray p-5">
                        <img src="{% static '/img/icons/5.svg' %}" alt="">
                    </div>

                    <span class="uppercase font-bold">Дизайн</span>

                    <p class="mt-2 text-center dark:text-blueLight">Новые тренды объединяет общая тема: вместо того,
                        чтобы фантазировать на тему высоких технологий, мы исследуем новые грани реализма. Они, как
                        никогда раньше, смешивают цифровое и повседневное, и это отражает то, насколько сайты стали
                        частью реальной жизни. Таким образом, тренды в веб-дизайне на 2021 год, о которых идет речь,
                        буквально вдыхают новую жизнь в мир информационных технологий
                    </p>
                </div>
                <div
                    class="bg-white lg:mx-0 mx-5 dark:bg-primary flex flex-col items-center border lg:mt-5 border-white dark:border-opacity-20 dark:text-white dark:border-white dark:text-black  rounded-lg p-5 shadow-xl">
                    <div
                        class="w-20 h-20 rounded-full mb-5  bg-gradient-to-br dark:from-gray from-gray to-white dark:to-green bg-gray p-5">
                        <img src="{% static '/img/icons/7.svg' %}" alt="">
                    </div>
                    <span class="uppercase font-bold">Маркетинг</span>

                    <p class="mt-2 text-center dark:text-blueLight">
                        Apollo cоздает и ведет рекламные кампании в Google, Facebook, Instagram, тщательно мониторим
                        ставки и снижаем стоимость конверсий, тем самым уменьшаем ваши затраты на рекламу и приводим вам
                        максимально «дешевых» клиентов. Каждый создаваемый нами сайт оптимизирован под поисковые системы
                        SEO, что позволяет нам привлекать органический трафик.

                    </p>
                </div>
                <div
                    class=" lg:mx-0 mx-5 dark:bg-primary z-50 bg-white flex flex-col items-center border mb-5 border-white dark:border-opacity-20 dark:text-white dark:border-white dark:text-black  rounded-lg p-5 shadow-xl">
                    <div
                        class="w-20 h-20 rounded-full mb-5  bg-gradient-to-br dark:from-gray from-gray to-white dark:to-green bg-gray p-5">
                        <img src="{% static '/img/icons/6.svg' %}" alt="">
                    </div>
                    <span class="uppercase font-bold">Разработка</span>

                    <p class="mt-2 text-center dark:text-blueLight">Сайты, порталы и интернет-магазины для любой сферы
                        товаров и услуг. Делаем максимально функциональный и понятный дизайн, привязываем сервисы оплаты
                        и доставки, реализуем актуальные digital-решения. Посетителям захочется покупать именно у Вас
                    </p>
                </div>
            </div>
        </div>



    </div>

</section>


<section class="bg-offer relative overflow-hidden text-white dark:bg-primary dark:text-white">

    <div class="background absolute w-full top-0 left-0 z-50">
        <div class="star1 star"></div>
        <div class="star2 star"></div>
        <div class="star3 star"></div>
        <div class="star4 star"></div>
    </div>

    <div class="pt-20">
        <div class="flex flex-col items-center text-center relative">
            <div
                class="w-20 h-20 p-1 bg-white dark:bg-blueLight rounded-full shadow-xl flex items-center justify-center">
                <span class="text-4xl">💪</span>
            </div>
            <div class="mt-5 flex items-center flex-col">
                <span class="uppercase">Наши услуги</span>
                <h1 class="lg:text-4xl mt-5 text-3x1 home__sub-title">Что мы предлагаем</h1>
                <div class="w-10 h-1 bg-secondary mt-10"></div>
            </div>
            <p class="w-full py-10">Предлагаем полный спектр услуг в области интернет-маркетинга для малого, среднего и
                крупного бизнеса по всему Казахстану.
            </p>
        </div>


        <section id='product'>


            <div class="mb-20">

                <div class="grid grid-cols-1 lg:grid-cols-4 gap-4 px-5">
                    <div
                        class="flex flex-col rounded-lg shadow-lg overflow-hidden border border-gray dark:border-white dark:border-opacity-20 ">
                        <div class="flex-shrink-0">
                            <div
                                class="h-50 w-full text-black relative z-50 dark:bg-primary bg-white  flex flex-col items-center justify-center p-5 ">
                                <div class="z-60 relative  flex flex-col items-center content-between">
                                    <div class="flex flex-col items-center mb-5">
                                        <div class="pb-5">
                                            <img src="{% static '/img/icons/1.svg' %}" alt="">
                                        </div>

                                        <h1 class="text-lg card__title dark:text-green transition">Landing Page
                                        </h1>
                                    </div>
                                    <p
                                        class="text-sm text-center border-b dark:border-white dark:border-opacity-20 border-black border-opacity-20 dark:text-white pb-5 transition">
                                        Позволяет Вашим клиентам
                                        оплачивать
                                        товары/услуги
                                        в любое время и с любой точки мира на Ваш
                                        корпоративный счет, благодаря
                                        чему
                                        продажи компании в онлайн становятся бесперебойными.
                                    </p>

                                    <div class="flex flex-col w-full items-center mt-5">
                                        <a href="form"
                                            class="focus:outline-none underline dark:text-white  py-3 px-5 rounded-full uppercase text-sm tracking-wide text-baclk font-bold hover:bg-red-400 cursor-pointer transition flex items-center ">
                                            Оставить заявку
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        class="flex flex-col rounded-lg shadow-lg overflow-hidden border border-gray dark:border-white dark:border-opacity-20 ">
                        <div class="flex-shrink-0">
                            <div
                                class="h-50 w-full text-black relative z-50 dark:bg-primary bg-white  flex flex-col items-center justify-center p-5 transition ">
                                <div class="z-60 relative  flex flex-col items-center content-between">
                                    <div class="flex flex-col items-center mb-5">
                                        <div class="pb-5">
                                            <img src="{% static '/img/icons/2.svg' %}" alt="">
                                        </div>

                                        <h1 class="text-lg card__title dark:text-green transition">Сайт визитка
                                        </h1>
                                    </div>
                                    <p
                                        class="text-sm text-center border-b dark:border-white dark:border-opacity-20 border-black border-opacity-20 dark:text-white pb-5 transition">
                                        Позволяет Вашим клиентам
                                        оплачивать
                                        товары/услуги
                                        в любое время и с любой точки мира на Ваш
                                        корпоративный счет, благодаря
                                        чему
                                        продажи компании в онлайн становятся бесперебойными.
                                    </p>

                                    <div class="flex flex-col w-full items-center mt-5">
                                        <a href="form"
                                            class="focus:outline-none underline dark:text-white  py-3 px-5 rounded-full uppercase text-sm tracking-wide text-baclk font-bold hover:bg-red-400 cursor-pointer transition flex items-center ">
                                            Оставить заявку
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="flex flex-col rounded-lg shadow-lg overflow-hidden border border-gray border-opacity-20 dark:border-white dark:border-opacity-20 ">
                        <div class="flex-shrink-0">
                            <div
                                class="h-50 w-full text-black relative z-50 dark:bg-primary bg-white  flex flex-col items-center justify-center p-5 ">
                                <div class="z-60 relative  flex flex-col items-center content-between">
                                    <div class="flex flex-col items-center mb-5">
                                        <div class="pb-5">
                                            <img src="{% static '/img/icons/3.svg' %}" alt="">
                                        </div>

                                        <h1 class="text-lg card__title dark:text-green transition">Интернет магазин
                                        </h1>
                                    </div>
                                    <p
                                        class="text-sm text-center border-b dark:border-white dark:border-opacity-20 border-black border-opacity-20 dark:text-white pb-5 transition">
                                        Позволяет Вашим клиентам
                                        оплачивать
                                        товары/услуги
                                        в любое время и с любой точки мира на Ваш
                                        корпоративный счет, благодаря
                                        чему
                                        продажи компании в онлайн становятся бесперебойными.
                                    </p>

                                    <div class="flex flex-col w-full items-center mt-5">
                                        <a href="form"
                                            class="focus:outline-none underline dark:text-white  py-3 px-5 rounded-full uppercase text-sm tracking-wide text-baclk font-bold hover:bg-red-400 cursor-pointer transition flex items-center ">
                                            Оставить заявку
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        class="flex flex-col rounded-lg shadow-lg overflow-hidden border border-gray border-opacity-20 dark:border-white dark:border-opacity-20 ">
                        <div class="flex-shrink-0">
                            <div
                                class="h-50 w-full text-black relative z-50 dark:bg-primary bg-white  flex flex-col items-center justify-center p-5 ">
                                <div class="z-60 relative  flex flex-col items-center content-between">
                                    <div class="flex flex-col items-center mb-5">
                                        <div class="pb-5">
                                            <img src="{% static '/img/icons/4.svg' %}" alt="">
                                        </div>

                                        <h1 class="text-lg card__title dark:text-green transition">Корпоративный
                                        </h1>
                                    </div>
                                    <p
                                        class="text-sm text-center border-b dark:border-white dark:border-opacity-20 border-black border-opacity-20 dark:text-white pb-5 transition">
                                        Позволяет Вашим клиентам
                                        оплачивать
                                        товары/услуги
                                        в любое время и с любой точки мира на Ваш
                                        корпоративный счет, благодаря
                                        чему
                                        продажи компании в онлайн становятся бесперебойными.
                                    </p>

                                    <div class="flex flex-col w-full items-center mt-5">
                                        <a href="form"
                                            class="focus:outline-none underline dark:text-white  py-3 px-5 rounded-full uppercase text-sm tracking-wide text-baclk font-bold hover:bg-red-400 cursor-pointer transition flex items-center ">
                                            Оставить заявку
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


        </section>



</section>





<section class="py-20 dark:bg-primary p-10">
    <div class="container mx-auto">
        <div class="text-center w-full pb-10">
            <div class="flex items-center flex-col">
                <h1 class="lg:text-4xl text-3x1 home__sub-title">Почему выбирают нас</h1>
                <div class="w-10 h-1 bg-secondary mt-10"></div>
            </div>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 my-10">


            <div class="div bg-white p-10 text-black shadow-xl rounded-lg flex items-center">
                <span class="text-2xl mr-5">✍️</span>
                <span class="font-bold uppercase"> Рисуем сайты "с нуля"</span>
            </div>
            <div class="div bg-white p-10 text-black shadow-xl rounded-lg flex items-center">
                <span class="text-2xl mr-5">😎</span>
                <span class="font-bold uppercase"> Наши сайты быстрее</span>
            </div>
            <div class="div bg-white p-10 text-black shadow-xl rounded-lg flex items-center">
                <span class="text-2xl mr-5">🤑</span>
                <span class="font-bold uppercase">Адекватные цены</span>
            </div>
            <div class="div bg-white p-10 text-black shadow-xl rounded-lg flex items-center">
                <span class="text-2xl mr-5">😍</span>
                <span class="font-bold uppercase"> шустрый менеджер</span>
            </div>
            <div class="div bg-white p-10 text-black shadow-xl rounded-lg flex items-center">
                <span class="text-2xl mr-5">☕</span>
                <span class="font-bold uppercase"> Вкусный кофе</span>
            </div>
            <div class="div bg-white p-10 text-black shadow-xl rounded-lg flex items-center">
                <span class="text-2xl mr-5">👏</span>
                <span class="font-bold uppercase"> Программист экстраверт</span>
            </div>
            <!-- <div class="div bg-white p-10 text-black rounded-lg flex items-center">
                    <img class="w-10 h-10 mr-5" src="./assets/img/icons/17.svg" alt="">
                    <span class="font-bold uppercase"> Текст пишем сами</span>
                </div> -->


        </div>
    </div>
</section>




<section id="folio" class="bg-off dark:bg-primary mb-20">
    <div class="px-5">
        <div class="flex flex-col items-center text-center">
            <h1 class="lg:text-4xl text-3x1 home__sub-title text-black dark:text-white mb-10">Наши работы</h1>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-4  gap-4">

            <div x-data="{ open: false }" @mouseout="open = false" @mouseover="open = true"
                class="relative text-white bg-primary rounded-lg">
                <span
                    class="absolute bottom-0 z-50 text-2xl bg-primary w-full p-5 bg-opacity-30 uppercase text-xs tracking-widest rounded-b-lg">
                    ordaplast
                </span>

                <svg x-show="open" xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 absolute top-5 transition-all z-60 right-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2}
                        d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                </svg>

                <a target="blank" href="https://ordaplast.kz/">
                    <img class="rounded-lg hover:opacity-80 transition-all" src="{% static '/img/pholio/1.jpg' %}"></a>
            </div>

            <div x-data="{ open: false }" @mouseout="open = false" @mouseover="open = true"
                class="relative text-white bg-primary rounded-lg">
                <span
                    class="absolute bottom-0 z-50 text-2xl bg-primary w-full p-5 bg-opacity-30 uppercase text-xs tracking-widest rounded-b-lg">
                    Ресторан "Узбекистан"
                </span>

                <svg x-show="open" xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 absolute top-5 transition-all z-50 right-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2}
                        d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                </svg>

                <a target="blank" href="https://uzb.kz/">
                    <img class="rounded-lg hover:opacity-80 transition-all" src="{% static '/img/pholio/2.jpg' %}"></a>
            </div>



            <div x-data="{ open: false }" @mouseout="open = false" @mouseover="open = true"
                class="relative text-white bg-primary rounded-lg">
                <span
                    class="absolute bottom-0 z-50 text-2xl bg-primary w-full p-5 bg-opacity-30 uppercase text-xs tracking-widest rounded-b-lg">
                    stia
                </span>

                <svg x-show="open" xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 absolute top-5 transition-all z-50 right-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2}
                        d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                </svg>

                <a target="blank" href="https://stia.kz/">
                    <img class="rounded-lg hover:opacity-80 transition-all" src="{% static '/img/pholio/3.jpg' %}"></a>
            </div>


            <div x-data="{ open: false }" @mouseout="open = false" @mouseover="open = true"
                class="relative text-white bg-primary rounded-lg">
                <span
                    class="absolute bottom-0 z-50 text-2xl bg-primary w-full p-5 bg-opacity-30 uppercase text-xs tracking-widest rounded-b-lg">
                    sauna-zhanarys-ast
                </span>

                <svg x-show="open" xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 absolute top-5 transition-all z-50 right-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2}
                        d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                </svg>

                <a target="blank" href="https://sauna-zhanarys-ast.kz/">
                    <img class="rounded-lg hover:opacity-80 transition-all" src="{% static '/img/pholio/4.jpg' %}"></a>
            </div>

            <div x-data="{ open: false }" @mouseout="open = false" @mouseover="open = true"
                class="relative text-white bg-primary rounded-lg">
                <span
                    class="absolute bottom-0 z-50 text-2xl bg-primary w-full p-5 bg-opacity-30 uppercase text-xs tracking-widest rounded-b-lg">
                    OrdaTrans
                </span>

                <svg x-show="open" xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 absolute top-5 transition-all z-50 right-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2}
                        d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                </svg>

                <a target="blank" href="http://ordatrans.kz">
                    <img class="rounded-lg hover:opacity-80 transition-all" src="{% static '/img/pholio/5.jpg' %}"></a>
            </div>



            <div x-data="{ open: false }" @mouseout="open = false" @mouseover="open = true"
                class="relative text-white bg-primary rounded-lg">
                <span
                    class="absolute bottom-0 z-50 text-2xl bg-primary w-full p-5 bg-opacity-30 uppercase text-xs tracking-widest rounded-b-lg">
                    Rem-Plast
                </span>

                <svg x-show="open" xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 absolute top-5 transition-all z-50 right-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2}
                        d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                </svg>

                <a target="blank" href="https://rem-plast.kz/">
                    <img class="rounded-lg hover:opacity-80 transition-all" src="{% static '/img/pholio/6.jpg' %}"></a>
            </div>



            <div x-data="{ open: false }" @mouseout="open = false" @mouseover="open = true"
                class="relative text-white bg-primary rounded-lg">
                <span
                    class="absolute bottom-0 z-50 text-2xl bg-primary w-full p-5 bg-opacity-30 uppercase text-xs tracking-widest rounded-b-lg">
                    Fontanero
                </span>

                <svg x-show="open" xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 absolute top-5 transition-all z-50 right-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2}
                        d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                </svg>

                <a target="blank" href="https://fontanero.kz/ru/">
                    <img class="rounded-lg hover:opacity-80 transition-all" src="{% static '/img/pholio/7.jpg' %}"></a>
            </div>

            <div x-data="{ open: false }" @mouseout="open = false" @mouseover="open = true"
                class="relative text-white bg-primary rounded-lg">
                <span
                    class="absolute bottom-0 z-50 text-2xl bg-primary w-full p-5 bg-opacity-30 uppercase text-xs tracking-widest rounded-b-lg">
                    skincareshop
                </span>

                <svg x-show="open" xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 absolute top-5 transition-all z-50 right-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2}
                        d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                </svg>

                <a target="blank" href="http://skincareshop.kz/">
                    <img class="rounded-lg hover:opacity-80 transition-all" src="{% static '/img/pholio/8.jpg' %}"></a>
            </div>




        </div>


    </div>
</section>


<!-- <section>
        <div class="container mx-auto bg-primary p-10 rounded-lg">
            <h1 class="text-5x1">This website is built with Dorik, without writing any code</h1>
        </div>
    </section> -->


<!-- <section class="my-20 text-black">
        <div class="container mx-auto">
            <div class="text-center w-full pb-10">
                <h1 class="lg:text-4xl home__sub-title">Этап работы</h1>
            </div>
        </div>
    </section> -->


<section id="contact" class="py-20 text-black bg-red overflow-hidden bg-marketing relative">

    <div class="background absolute w-full top-0 left-0 z-50">
        <div class="star1 star"></div>
        <div class="star2 star"></div>
        <div class="star3 star"></div>
        <div class="star4 star"></div>
    </div>
    <div class="container mx-auto relative z-50 text-white">


        <div class="flex flex-col items-center w-full pb-10">

            <h1 class="lg:text-4xl text-3x1 home__sub-title">Остались вопросы?</h1>
            <p class="py-10 px-5 lg:w-1/2 w-full text-center sub-title ">Оставьте свои контактные данные и мы
                гарантируем вам,
                что
                вы получите самую лучшую консультацию!</p>

            <a href="form"
                class="focus:outline-none py-4 px-6 bg-secondary text-white lg:w-1/1 text-black w-1/1 rounded-lg uppercase text-sm tracking-wide font-bold hover:bg-green-400 cursor-pointer transition ">
                Оставить заявку</a>
        </div>



    </div>
</section>


</div>

{% endblock content %}