{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/starts.css' %}" />
{% endblock %}
{% block content %}


<script>
    function sale() {
        return {
            seconds: '00',
            minutes: '00',
            hours: '00',
            days: '00',
            distance: 0,
            countdown: null,
            beerTime: new Date('october 28, 2021 22:09:00').getTime(),
            now: new Date().getTime(),
            start: function () {
                this.countdown = setInterval(() => {
                    // Calculate time
                    this.now = new Date().getTime();
                    this.distance = this.beerTime - this.now;
                    // Set Times
                    this.days = this.padNum(Math.floor(this.distance / (1000 * 60 * 60 * 24)));
                    this.hours = this.padNum(Math.floor((this.distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)));
                    this.minutes = this.padNum(Math.floor((this.distance % (1000 * 60 * 60)) / (1000 * 60)));
                    this.seconds = this.padNum(Math.floor((this.distance % (1000 * 60)) / 1000));
                    // Stop
                    if (this.distance < 0) {
                        clearInterval(this.countdown);
                        this.days = '00';
                        this.hours = '00';
                        this.minutes = '00';
                        this.seconds = '00';
                    }
                }, 100);
            },
            padNum: function (num) {
                var zero = '';
                for (var i = 0; i < 2; i++) {
                    zero += '0';
                }
                return (zero + num).slice(-2);
            }
        }
    }
</script>
<section id="home"
    class="text-white dark:bg-primary dark:text-white home w-full relative overflow-hidden flex flex-col items-center ">



    <div class="relative w-full overflow-hidden flex flex-col items-center justify-center z-40 h-full">
        <div class="background absolute w-full top-0 left-0 z-50">
            <div class="star1 star"></div>
            <div class="star2 star"></div>
            <div class="star3 star"></div>
            <div class="star4 star"></div>
        </div>


        <div class="w-full h-full flex justify-center items-center relative z-60">

            <div class="text-center flex flex-col items-center relative z-50">
                <h1 class="home__title lg:text-8xl text-3x1 mb-5 ">Создание сайтов</br> в Астане</h1>
                <h2 class="lg:text-2xl text-1x1 lg:p-0 p-5">Закажите сайт, продуманный с технической и маркетинговой
                    точки зрения</h2>

                <a href="form"
                    class="focus:outline-none py-4 bg-secondary hover:bg-secondaryLight transition-all px-6 text-white  text-black rounded-lg mt-5 uppercase text-sm tracking-wide font-bold cursor-pointer ">
                    Оставить заявку</a>

            </div>

        </div>

    </div>






    <div
        class="absolute bottom-10 z-50 border-t border-white absolute border-opacity-25 w-full flex items-center flex-col justify-center">
        <div
            class="p-5 transform rotate-45 border border-white border-opacity-25 relative -top-5 bg-primary flex items-center justify-center">
            <div class="transform -rotate-45 absolute z-50">
                <svg @click="$scroll('#about')" xmlns="http://www.w3.org/2000/svg"
                    class="h-4 w-4 text-white  cursor-pointer  animate-bounce" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M19 14l-7 7m0 0l-7-7m7 7V3" />
                </svg>
            </div>
        </div>
    </div>


</section>



<section id="about" class="dark:bg-primary py-20 h-full ">
    <div class="container  mx-auto">
        <div class="flex flex-col items-center w-full">
            <div class="mt-5 flex items-center flex-col text-center">
                <h1 class="uppercase font-bold text-base lg:text-lg"> Хотите заказать сайт в астане у надежной компании?
                </h1>
                <h2 class="lg:text-4xl mt-5 text-3x1 home__sub-title"> Немного о нас</h2>

            </div>


            <div class="w-10 h-1 bg-secondary mt-5"></div>
            <p class="py-10 px-5 lg:w-full w-full text-center lg:text-2xl text-lg ">
                С 2016 года <b>студия создания сайтов в Астане</b> Apollo помогает малому и среднему бизнесу в создании
                сайтов для
                продвижения бизнеса
                в интернете. Для наших специалистов главное - понимать цели заказчика, чтобы предложить инструменты для
                достижения максимально возможного результата. Мы имеем опыт работы в различных отраслях: от магазинов и
                ресторанов до транспортных и инжиниринговых компаний.
            </p>

        </div>
        <div class="relative">
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">






                <div class="card">
                    <div class="img-container">
                        <div class="skewed">
                            <div class="img-marketing" id="img"></div>
                        </div>
                    </div>
                    <div class="content px-5 pb-5">
                        <h2 class="py-5">Маркетинг</h2>
                        <p>Создаём и настраиваем рекламные кампании в Google, Facebook, Instagram, которые приводят
                            покупателей по выгодной стоимости без огромных затрат. Каждый созданный сайт мы оптимизируем
                            под поисковые системы SEO, чем привлекаем органический трафик.

                        </p>

                    </div>
                </div>




                <div class="card">
                    <div class="img-container">
                        <div class="skewed">
                            <div class="img-design" id="img"></div>
                        </div>
                    </div>
                    <div class="content px-5 pb-5">
                        <h2 class="py-5">Дизайн</h2>
                        <p>Сайт позволяет стать бизнесу реальным и видимым для пользователей в интернете, а
                            функциональный и понятный дизайн помогает им стать вашими клиентами.
                            Новые тренды объединяет общая тема - исследование новых граней реализма, вместо фантазий на
                            тему высоких технологий. Веб-дизайн в 2021 году удачно совмещает цифровое и повседневное.
                        </p>

                    </div>
                </div>




                <div class="card">
                    <div class="img-container">
                        <div class="skewed">
                            <div class="img-code" id="img"></div>
                        </div>
                    </div>
                    <div class="content px-5 pb-5">
                        <h2 class="py-5">Разработка</h2>
                        <p>Создаём сайты, порталы и интернет-магазины для любой сферы товаров и услуг. Привязываем
                            сервисы оплаты и доставки. Реализуем актуальные digital-решения: персонализация, оптимизация
                            для мобильных устройств, подключение мессенджеров и чат-ботов.

                        </p>

                    </div>
                </div>



            </div>
        </div>



    </div>

</section>


<section class="bg-offer relative overflow-hidden text-white dark:bg-primary dark:text-white">

    <div class="background absolute w-full top-0 left-0 z-50">
        <div class="star1 star"></div>
        <div class="star2 star"></div>
        <div class="star3 star"></div>
        <div class="star4 star"></div>
    </div>

    <div class="pt-20">
        <div class="flex flex-col items-center text-center relative">
            <div
                class="w-20 h-20 text-primary p-1 bg-white dark:bg-blueLight rounded-full shadow-xl flex items-center justify-center">
                <span class="text-4xl"><svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01" />
                    </svg></span>
            </div>
            <div class="mt-5 flex items-center flex-col">
                <h1 class="uppercase font-bold">Разработка сайтов по передовым технологиям</h1>
                <span class="lg:text-4xl mt-5 text-3x1 home__sub-title">Наши услуги</span>
                <div class="w-10 h-1 bg-secondary lg:mt-10 mt-5"></div>
            </div>
            <p class="py-10 px-5 lg:w-1/2 w-full text-center lg:text-2xl text-lg ">Предлагаем полный спектр услуг в
                области интернет-маркетинга для малого, среднего и
                крупного бизнеса по всему Казахстану.
            </p>
        </div>


        <section id='product'>


            <div class="mb-20">

                <div class="">

                    <div class="flex items-stretch lg:flex-row flex-col">
                        <div class="flex lg:w-1/4 w-100 rounded-lg bg-white relative z-50 text-primary lg:m-3 m-4">
                            <div class="flex flex-col justify-between items-center  p-5">



                                <div class="pb-5">
                                    <img src="{% static '/img/icons/1.svg' %}" alt="">
                                </div>
                                <div class="div">
                                    <h1 class="text-lg card__title mb-5">Landing Page
                                    </h1>
                                </div>

                                <div class="div">

                                    <p class="text-sm text-center pb-5">
                                        Простой сайт с кратким рассказом о конкретном продукте или услуге компании.
                                        Такой одностраничный ресурс призывает клиента выполнить целевое действие:
                                        покупку, заказ или запрос обратной связи. Веб-сайт разрабатывается на html и
                                        css, без подключения cms в срок до 7 дней.
                                    </p>
                                </div>

                                <div class=" border-t w-full flex justify-center border-black border-opacity-20">
                                    <a href="form"
                                        class="focus:outline-none underline dark:text-white  py-3 px-5 rounded-full uppercase text-sm tracking-wide text-baclk font-bold hover:bg-red-400 cursor-pointer transition flex items-center ">
                                        Оставить заявку
                                    </a>
                                </div>

                            </div>

                        </div>

                        <div class="flex lg:w-1/4 w-100 rounded-lg bg-white relative z-50 text-primary lg:m-3 m-4">
                            <div class="flex flex-col justify-between items-center  p-5">



                                <div class="pb-5">
                                    <img src="{% static '/img/icons/2.svg' %}" alt="">
                                </div>
                                <div class="div">

                                    <h1 class="text-lg card__title mb-3">Сайт-визитка
                                    </h1>
                                </div>
                                <div class="div">

                                    <p class="text-sm text-center pb-5">
                                        Информационный мини-сайт для знакомства с компанией и полным списком
                                        предлагаемых услуг. Экономный и быстрый способ заявить о себе в интернете,
                                        особенно для молодых компаний.
                                    </p>

                                </div>
                                <div class=" border-t w-full flex justify-center border-black border-opacity-20">
                                    <a href="form"
                                        class="focus:outline-none underline dark:text-white  py-3 px-5 rounded-full uppercase text-sm tracking-wide text-baclk font-bold hover:bg-red-400 cursor-pointer transition flex items-center ">
                                        Оставить заявку
                                    </a>
                                </div>

                            </div>

                        </div>

                        <div class="flex lg:w-1/4 w-100 rounded-lg bg-white relative z-50 text-primary lg:m-3 m-4">
                            <div class="flex flex-col justify-between items-center text-center p-5">



                                <div class="pb-5">
                                    <img src="{% static '/img/icons/4.svg' %}" alt="">
                                </div>
                                <div class="div">
                                    <h1 class="text-lg card__title mb-3">Корпоративный сайт
                                    </h1>
                                </div>
                                <div class="div">
                                    <p class="text-sm text-center pb-5">
                                        Такой ресурс позволяет подробно рассказать о всех особенностях компании, ее
                                        достоинствах, лицензиях и опыте работы. Премиальный индивидуальный дизайн сайта
                                        позволяет правильно расставить акценты, проработать и скомпоновать все элементы
                                        для удобства посетителей.
                                    </p>
                                </div>

                                <div class=" border-t w-full flex justify-center border-black border-opacity-20">
                                    <a href="form"
                                        class="focus:outline-none underline dark:text-white  py-3 px-5 rounded-full uppercase text-sm tracking-wide text-baclk font-bold hover:bg-red-400 cursor-pointer transition flex items-center ">
                                        Оставить заявку
                                    </a>
                                </div>

                            </div>

                        </div>



                        <div class="flex lg:w-1/4 w-100 rounded-lg bg-white relative z-50 text-primary lg:m-3 m-4">
                            <div class="flex flex-col justify-between items-center w-full p-5">



                                <div class="pb-5">
                                    <img src="{% static '/img/icons/3.svg' %}" alt="">
                                </div>
                                <div class="div">

                                    <h1 class="text-lg card__title mb-3">Интернет магазин
                                    </h1>
                                </div>
                                <div class="div">
                                    <p class="text-sm text-center pb-5">
                                        Запуск собственного интернет магазина позволяет компании продавать товары в
                                        интернете быстро и без затрат времени на консультации. Более 5 лет мы запускаем
                                        магазины самой разной сложности, от небольших торговых площадок до крупных
                                        маркетплейсов
                                    </p>
                                </div>
                                <div class=" border-t w-full flex justify-center border-black border-opacity-20">

                                    <a href="form"
                                        class="focus:outline-none underline dark:text-white  py-3 px-5 rounded-full uppercase text-sm tracking-wide text-baclk font-bold hover:bg-red-400 cursor-pointer transition flex items-center ">
                                        Оставить заявку
                                    </a>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

        </section>



</section>





<section class="py-20 dark:bg-primary p-10">
    <div class="container mx-auto">
        <div class="text-center w-full pb-10">
            <div class="flex items-center flex-col">
                <h1 class="lg:text-4xl text-3x1 home__sub-title">Почему выбирают нас</h1>
                <div class="w-10 h-1 bg-secondary mt-10"></div>
            </div>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 my-10">


            <div class="div bg-white p-10 text-black shadow-xl rounded-lg flex items-center">
                <span class="text-2xl mr-5">✍️</span>
                <span class="font-bold uppercase"> Рисуем сайты "с нуля"</span>
            </div>
            <div class="div bg-white p-10 text-black shadow-xl rounded-lg flex items-center">
                <span class="text-2xl mr-5">😎</span>
                <span class="font-bold uppercase"> Наши сайты быстрее</span>
            </div>
            <div class="div bg-white p-10 text-black shadow-xl rounded-lg flex items-center">
                <span class="text-2xl mr-5">🤑</span>
                <span class="font-bold uppercase">Адекватные цены</span>
            </div>
            <div class="div bg-white p-10 text-black shadow-xl rounded-lg flex items-center">
                <span class="text-2xl mr-5">😍</span>
                <span class="font-bold uppercase"> шустрый менеджер</span>
            </div>
            <div class="div bg-white p-10 text-black shadow-xl rounded-lg flex items-center">
                <span class="text-2xl mr-5">☕</span>
                <span class="font-bold uppercase"> Вкусный кофе</span>
            </div>
            <div class="div bg-white p-10 text-black shadow-xl rounded-lg flex items-center">
                <span class="text-2xl mr-5">👏</span>
                <span class="font-bold uppercase"> Программист экстраверт</span>
            </div>
            <!-- <div class="div bg-white p-10 text-black rounded-lg flex items-center">
                    <img class="w-10 h-10 mr-5" src="./assets/img/icons/17.svg" alt="">
                    <span class="font-bold uppercase"> Текст пишем сами</span>
                </div> -->


        </div>
    </div>
</section>


<section id="sale"
    class="bg-fixed py-20 text-black bg-red mb-20 overflow-hidden bg-sale relative flex items-center flex-col ">

    <div class="background absolute w-full top-0 left-0 z-50">
        <div class="star1 star"></div>
       

    </div>

    <div class="container mx-auto relative z-50 text-white">


        <div class="flex flex-col items-center w-full">

            <div
                class="w-20 h-20 mb-10 p-1 bg-white text-primary dark:bg-blueLight rounded-full shadow-xl flex items-center justify-center">
                <span class="text-4xl">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z" />
                    </svg>
                </span>
            </div>

            <h1 class="lg:text-4xl text-3x1 home__sub-title">Акция недели</h1>
            <p class="py-10 px-5 lg:w-1/2 w-full text-center  text-lg ">Только для вас, каждую неделю мы
                объявляем
                выгодные и интересные предложения
            </p>

            <div class="grid grid-cols-1 lg:grid-cols-3  gap-4 text-sm pb-10">
                <div class="flex items-center p-5">
                    <div
                        class="bg-white font-bold lg:mr:0 mr-5 text-primary flex items-center justify-center p-5 w-10 h-10 rounded-full">
                        1</div>
                    Каждую неделю новые </br>интересные акции
                </div>
                <div class="flex items-center p-5">
                    <div
                        class="bg-white font-bold lg:mr:0 mr-5 text-primary flex items-center justify-center p-5 w-10 h-10 rounded-full">
                        2</div>
                    Безвозмездно </br> предоставляем услугу
                </div>
                <div class="flex items-center p-5">
                    <div
                        class="bg-white font-bold lg:mr:0 mr-5 text-primary flex items-center justify-center p-5 w-10 h-10 rounded-full">
                        3</div>
                    Это бесплатно,</br> никаких скрытых оплат
                </div>
            </div>

            <div class="flex items-center p-5 border-dotted border-2  border-white border-opacity-20 ">
                <p class="p-2 lg:text-2xl rounded-lg  text-lg uppercase mr-5 tracking-widest">Разработка уникального логотипа</p>

            <a href=" https://wa.me/+77027245503?text=Я хочу бесплатный логотип"
                class="text-center focus:outline-none hover:bg-secondaryLight transition-all py-4 px-6 bg-secondary text-white lg:w-1/1 text-black w-1/1 rounded-lg uppercase lg:text-sm text-xs tracking-wide font-bold hover:bg-green-400 cursor-pointer transition ">
                получить сейчас</a>
            </div>


            <div class="mt-10 flex flex-col items-center">
                <h1 class=" text-center mb-3 font-extralight">Акция обновится через:</h1>

                <div class="flex mb-10" x-data="sale()" x-init="start()">
                    <div
                        class="text-3xl text-center w-20 lg:mx-2 mx-1 p-2  rounded-lg border border-white border-opacity-20">
                        <span class="font-mono leading-none" x-text="days"></span>
                        <div class="font-mono uppercase text-sm leading-none pt-3">Дней</div>
                    </div>
                    <div
                        class="text-3xl text-center w-20 lg:mx-2 mx-1 p-2 rounded-lg border border-white border-opacity-20">
                        <span class="font-mono leading-none" x-text="hours"></span>
                        <div class="font-mono uppercase text-sm leading-none pt-3">Часов</div>
                    </div>
                    <div
                        class="text-3xl text-center w-20 lg:mx-2 mx-1 p-2 rounded-lg border border-white border-opacity-20">
                        <span class="font-mono leading-none" x-text="minutes"></span>
                        <div class="font-mono uppercase text-sm leading-none pt-3">Минут</div>
                    </div>
                    <div
                        class="text-3xl text-center w-20 lg:mx-2 mx-1 p-2 rounded-lg border border-white border-opacity-20">
                        <span class="font-mono leading-none" x-text="seconds"></span>
                        <div class="font-mono uppercase text-sm leading-none pt-3">Секунд</div>
                    </div>
                </div>

            </div>

        </div>



    </div>
    <button @click="isDialogOpen = true" class="absolute bottom-5 z-50 text-white">Условия акции</button>

</section>



<section id="folio" class="bg-off dark:bg-primary mb-20">
    <div class="px-5">
        <div class="flex flex-col items-center text-center">
            <h1 class="lg:text-4xl text-3x1 home__sub-title text-black dark:text-white mb-10">Наши работы</h1>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-4  gap-4">

            <div x-data="{ open: false }" @mouseout="open = false" @mouseover="open = true"
                class="relative text-white bg-primary rounded-lg">
                <span
                    class="absolute bottom-0 z-50 bg-primary w-full p-5 bg-opacity-30 uppercase text-sm tracking-widest rounded-b-lg">
                    ordaplast
                </span>

                <svg x-show="open" xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 absolute top-5 transition-all z-60 right-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2}
                        d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                </svg>

                <a target="blank" rel="nofollow" href="https://ordaplast.kz/">
                    <img class="rounded-lg hover:opacity-80 transition-all" src="{% static '/img/pholio/1.jpg' %}"></a>
            </div>

            <div x-data="{ open: false }" @mouseout="open = false" @mouseover="open = true"
                class="relative text-white bg-primary rounded-lg">
                <span
                    class="absolute bottom-0 z-50 bg-primary w-full p-5 bg-opacity-30 uppercase text-sm tracking-widest rounded-b-lg">
                    Ресторан "Узбекистан"
                </span>

                <svg x-show="open" xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 absolute top-5 transition-all z-50 right-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2}
                        d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                </svg>

                <a target="blank" rel="nofollow" href="http://uzb.kz/">
                    <img class="rounded-lg hover:opacity-80 transition-all" src="{% static '/img/pholio/2.jpg' %}"></a>
            </div>



            <div x-data="{ open: false }" @mouseout="open = false" @mouseover="open = true"
                class="relative text-white bg-primary rounded-lg">
                <span
                    class="absolute bottom-0 z-50 bg-primary w-full p-5 bg-opacity-30 uppercase text-sm tracking-widest rounded-b-lg">
                    stia
                </span>

                <svg x-show="open" xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 absolute top-5 transition-all z-50 right-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2}
                        d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                </svg>

                <a target="blank" rel="nofollow" href="http://stia.kz/">
                    <img class="rounded-lg hover:opacity-80 transition-all" src="{% static '/img/pholio/3.jpg' %}"></a>
            </div>


            <div x-data="{ open: false }" @mouseout="open = false" @mouseover="open = true"
                class="relative text-white bg-primary rounded-lg">
                <span
                    class="absolute bottom-0 z-50 bg-primary w-full p-5 bg-opacity-30 uppercase text-sm tracking-widest rounded-b-lg">
                    sauna-zhanarys-ast
                </span>

                <svg x-show="open" xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 absolute top-5 transition-all z-50 right-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2}
                        d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                </svg>

                <a target="blank" rel="nofollow" href="https://sauna-zhanarys-ast.kz/">
                    <img class="rounded-lg hover:opacity-80 transition-all" src="{% static '/img/pholio/4.jpg' %}"></a>
            </div>

            <div x-data="{ open: false }" @mouseout="open = false" @mouseover="open = true"
                class="relative text-white bg-primary rounded-lg">
                <span
                    class="absolute bottom-0 z-50 bg-primary w-full p-5 bg-opacity-30 uppercase text-sm tracking-widest rounded-b-lg">
                    OrdaTrans
                </span>

                <svg x-show="open" xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 absolute top-5 transition-all z-50 right-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2}
                        d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                </svg>

                <a target="blank" rel="nofollow" href="http://ordatrans.kz">
                    <img class="rounded-lg hover:opacity-80 transition-all" src="{% static '/img/pholio/5.jpg' %}"></a>
            </div>



            <div x-data="{ open: false }" @mouseout="open = false" @mouseover="open = true"
                class="relative text-white bg-primary rounded-lg">
                <span
                    class="absolute bottom-0 z-50 bg-primary w-full p-5 bg-opacity-30 uppercase text-sm tracking-widest rounded-b-lg">
                    Rem-Plast
                </span>

                <svg x-show="open" xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 absolute top-5 transition-all z-50 right-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2}
                        d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                </svg>

                <a target="blank" rel="nofollow" href="https://rem-plast.kz/">
                    <img class="rounded-lg hover:opacity-80 transition-all" src="{% static '/img/pholio/6.jpg' %}"></a>
            </div>



            <div x-data="{ open: false }" @mouseout="open = false" @mouseover="open = true"
                class="relative text-white bg-primary rounded-lg">
                <span
                    class="absolute bottom-0 z-50 bg-primary w-full p-5 bg-opacity-30 uppercase text-sm tracking-widest rounded-b-lg">
                    Fontanero
                </span>

                <svg x-show="open" xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 absolute top-5 transition-all z-50 right-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2}
                        d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                </svg>

                <a target="blank" rel="nofollow" href="https://fontanero.kz/ru/">
                    <img class="rounded-lg hover:opacity-80 transition-all" src="{% static '/img/pholio/7.jpg' %}"></a>
            </div>

            <div x-data="{ open: false }" @mouseout="open = false" @mouseover="open = true"
                class="relative text-white bg-primary rounded-lg">
                <span
                    class="absolute bottom-0 z-50 bg-primary w-full p-5 bg-opacity-30 uppercase text-sm tracking-widest rounded-b-lg">
                    skincareshop
                </span>

                <svg x-show="open" xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 absolute top-5 transition-all z-50 right-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2}
                        d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                </svg>

                <a target="blank" rel="nofollow" href="http://skincareshop.kz/">
                    <img class="rounded-lg hover:opacity-80 transition-all" src="{% static '/img/pholio/8.jpg' %}"></a>
            </div>




        </div>


    </div>
</section>


<!-- <section>
        <div class="container mx-auto bg-primary p-10 rounded-lg">
            <h1 class="text-5x1">This website is built with Dorik, without writing any code</h1>
        </div>
    </section> -->


<!-- <section class="my-20 text-black">
        <div class="container mx-auto">
            <div class="text-center w-full pb-10">
                <h1 class="lg:text-4xl home__sub-title">Этап работы</h1>
            </div>
        </div>
    </section> -->


<section id="contact" class="py-20 text-black bg-red overflow-hidden bg-marketing relative">

    <div class="background absolute w-full top-0 left-0 z-50">
        <div class="star1 star"></div>
        <div class="star2 star"></div>
        <div class="star3 star"></div>
        <div class="star4 star"></div>
    </div>
    <div class="container mx-auto relative z-50 text-white">


        <div class="flex flex-col items-center w-full pb-10">

            <h1 class="lg:text-4xl text-3x1 home__sub-title">Узнать цену за 30 минут</h1>
            <div class="grid grid-cols-1 lg:grid-cols-3  gap-4 text-sm uppercase py-20 text-center">
                <div class="p-5 flex items-center flex-col">
                    <div class="bg-white text-primary flex items-center justify-center p-5 w-10 h-10 rounded-full mb-5">
                        1</div>
                    Менеджер ответит через:</br> 5 минут
                </div>
                <div class="p-5 flex items-center flex-col">
                    <div class="bg-white text-primary flex items-center justify-center p-5 w-10 h-10 rounded-full mb-5">
                        2</div>
                    Сделаем индивидуальный</br> просчет сайта
                </div>
                <div class="p-5 flex items-center flex-col">
                    <div class="bg-white text-primary flex items-center justify-center p-5 w-10 h-10 rounded-full mb-5">
                        3</div>
                    Подготовим специальное</br> предложение
                </div>
            </div>


            <a href=" https://wa.me/+77027245503"
                class="focus:outline-none hover:bg-secondaryLight transition-all py-4 px-6 bg-secondary text-white lg:w-1/1 text-black w-1/1 rounded-lg uppercase text-sm tracking-wide font-bold hover:bg-green-400 cursor-pointer transition ">
                Написать в whatsapp</a>
        </div>



    </div>
</section>




</div>

{% endblock content %}