{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/starts.css' %}" />
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

{% endblock %}
{% block content %}



<section id="home" class="text-white dark:bg-primary dark:text-white home relative overflow-hidden ">



    <div class="relative overflow-hidden flex flex-col items-center justify-center z-40 h-full">
        <div class="background absolute w-full top-0 left-0 z-50">
            <div class="star1 star"></div>
            <div class="star2 star"></div>
            <div class="star3 star"></div>
            <div class="star4 star"></div>
        </div>


        <div class="w-100 h-full flex justify-center items-center relative z-60">

            <div class="text-center flex flex-col items-center relative z-50">
                <h1 class="home__title lg:text-8xl text-3x1 mb-5">Создание сайтов</h1>
                <h2 class="text-2xl lg:p-0 p-5">Разрабатываем качественные, адаптивные сайты и оказываем полный комплекс услуг по продвижению бизнеса в интернете. </br>Экспертно. Выгодно. Результативно </h2>
                <a href="form"
                    class="focus:outline-none py-4 px-6 bg-red dark:bg-green dark:text-black text-white lg:w-1/1 text-black w-1/1 rounded-lg mt-10 uppercase text-sm tracking-wide font-bold cursor-pointer transition ">
                   Оставить заявку</a>

            </div>

        </div>

    </div>











</section>



<section class="dark:bg-primary py-20 h-full ">
    <div class="container  mx-auto">
        <div class="flex flex-col items-center w-full">
            <h1
                class="home__sub-title text-5xl text-center bg-clip-text text-transparent bg-gradient-to-br dark:from-green from-black to-primary dark:to-blueLight p-2">
                Ключевые направления</h1>
            <div class="w-10 h-1 bg-secondary mt-5"></div>
            <p class="lg:px-0 px-5 py-10 w-full text-center dark:text-white text-black">Digital Агентство CASTCOM с 2007 года
                занимается разработкой сайтов для бизнеса любой сложности. За все время мы создали и запустили 300+
                крупных успешных проектов: от лендингов до порталов, которые помогли нашим заказчикам вывести бизнес на
                новый уровень.

                Разработка сайта выполняется со всеми требованиями к SEO-оптимизации. У наших проектов всегда высокая
                конверсия продаж - это достигается путём изучения целевой аудитории, созданием продающего дизайна и
                проработкой юзабилити.

            </p>

        </div>
        <div class="relative">
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
                <!-- <div class="w-60 h-60 bg-primary absolute z-0 -top-10 -left-10 rounded-full"></div>
                    <div class="w-10 h-10 bg-primary absolute z-0 -top-10 -left-20 rounded-full"></div>
                    <div class="w-60 h-60 bg-primary absolute z-0 -bottom-10 -right-10 rounded-full"></div>
                    <div class="w-10 h-10 bg-primary absolute z-0 -bottom-10 -right-20 rounded-full"></div> -->
                <div
                    class="z-50 bg-white lg:mx-0 mx-5 flex dark:bg-primary flex-col items-center border border-white lg:mb-5 dark:border-opacity-20 dark:text-white dark:border-white dark:text-black  rounded-lg p-5 shadow-xl">

                    <div
                        class="w-20 h-20 rounded-full mb-5  bg-gradient-to-br  dark:from-gray from-gray to-white dark:to-green bg-gray p-5">
                        <img src="{% static '/img/icons/5.svg' %}" alt="">
                    </div>

                    <span class="uppercase font-bold">Дизайн</span>

                    <p class="mt-2 text-center dark:text-blueLight">Phosfluorescently target bleeding sources
                        through viral methodsp
                        progressively expedite
                        empowered.</p>
                </div>
                <div
                    class="bg-white lg:mx-0 mx-5 dark:bg-primary flex flex-col items-center border lg:mt-5 border-white dark:border-opacity-20 dark:text-white dark:border-white dark:text-black  rounded-lg p-5 shadow-xl">
                    <div
                        class="w-20 h-20 rounded-full mb-5  bg-gradient-to-br dark:from-gray from-gray to-white dark:to-green bg-gray p-5">
                        <img src="{% static '/img/icons/7.svg' %}" alt="">
                    </div>
                    <span class="uppercase font-bold">Маркетинг</span>

                    <p class="mt-2 text-center dark:text-blueLight">Phosfluorescently target bleeding sources
                        through viral methodsp
                        progressively expedite
                        empowered.</p>
                </div>
                <div
                    class=" lg:mx-0 mx-5 dark:bg-primary z-50 bg-white flex flex-col items-center border mb-5 border-white dark:border-opacity-20 dark:text-white dark:border-white dark:text-black  rounded-lg p-5 shadow-xl">
                    <div
                        class="w-20 h-20 rounded-full mb-5  bg-gradient-to-br dark:from-gray from-gray to-white dark:to-green bg-gray p-5">
                        <img src="{% static '/img/icons/6.svg' %}" alt="">
                    </div>
                    <span class="uppercase font-bold">Разработка</span>

                    <p class="mt-2 text-center dark:text-blueLight">Phosfluorescently target bleeding sources
                        through viral methodsp
                        progressively expedite
                        empowered.</p>
                </div>
            </div>
        </div>



    </div>

</section>


<section class="bg-offer relative overflow-hidden text-white dark:bg-primary dark:text-white">

    <div class="background absolute w-full top-0 left-0 z-50">
        <div class="star1 star"></div>
        <div class="star2 star"></div>
        <div class="star3 star"></div>
        <div class="star4 star"></div>
    </div>

    <div class="pt-20">
        <div class="flex flex-col items-center text-center relative">
            <div
                class="w-20 h-20 p-1 bg-white dark:bg-blueLight rounded-full shadow-xl flex items-center justify-center">
                <span class="text-4xl">💪</span>
            </div>
            <div class="mt-5 flex items-center flex-col">
                <span class="uppercase">Наши услуги</span>
                <h1 class="lg:text-4xl mt-5 text-3x1 home__sub-title">Что мы предлагаем</h1>
                <div class="w-10 h-1 bg-secondary mt-10"></div>
            </div>
            <p class="w-full py-10">Предлагаем полный спектр услуг в области интернет-маркетинга для малого, среднего и
                крупного бизнеса по всему Казахстану.
            </p>
        </div>


        <section id='product'>


            <div class="mb-20">

                <div class="grid grid-cols-1 lg:grid-cols-4 gap-4 px-5">
                    <div
                        class="flex flex-col rounded-lg shadow-lg overflow-hidden border border-gray dark:border-white dark:border-opacity-20 ">
                        <div class="flex-shrink-0">
                            <div
                                class="h-50 w-full text-black relative z-50 dark:bg-primary bg-white  flex flex-col items-center justify-center p-5 ">
                                <div class="z-60 relative  flex flex-col items-center content-between">
                                    <div class="flex flex-col items-center mb-5">
                                        <div class="pb-5">
                                            <img src="{% static '/img/icons/1.svg' %}" alt="">
                                        </div>

                                        <h1 class="text-lg card__title dark:text-green transition">Landing Page
                                        </h1>
                                    </div>
                                    <p
                                        class="text-sm text-center border-b dark:border-white dark:border-opacity-20 border-black border-opacity-20 dark:text-white pb-5 transition">
                                        Позволяет Вашим клиентам
                                        оплачивать
                                        товары/услуги
                                        в любое время и с любой точки мира на Ваш
                                        корпоративный счет, благодаря
                                        чему
                                        продажи компании в онлайн становятся бесперебойными.
                                    </p>

                                    <div class="flex flex-col w-full items-center mt-5">
                                        <a href="form"
                                            class="focus:outline-none underline dark:text-white  py-3 px-5 rounded-full uppercase text-sm tracking-wide text-baclk font-bold hover:bg-red-400 cursor-pointer transition flex items-center ">
                                            Оставить заявку
                                    </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        class="flex flex-col rounded-lg shadow-lg overflow-hidden border border-gray dark:border-white dark:border-opacity-20 ">
                        <div class="flex-shrink-0">
                            <div
                                class="h-50 w-full text-black relative z-50 dark:bg-primary bg-white  flex flex-col items-center justify-center p-5 transition ">
                                <div class="z-60 relative  flex flex-col items-center content-between">
                                    <div class="flex flex-col items-center mb-5">
                                        <div class="pb-5">
                                            <img src="{% static '/img/icons/2.svg' %}" alt="">
                                        </div>

                                        <h1 class="text-lg card__title dark:text-green transition">Сайт визитка
                                        </h1>
                                    </div>
                                    <p
                                        class="text-sm text-center border-b dark:border-white dark:border-opacity-20 border-black border-opacity-20 dark:text-white pb-5 transition">
                                        Позволяет Вашим клиентам
                                        оплачивать
                                        товары/услуги
                                        в любое время и с любой точки мира на Ваш
                                        корпоративный счет, благодаря
                                        чему
                                        продажи компании в онлайн становятся бесперебойными.
                                    </p>

                                    <div class="flex flex-col w-full items-center mt-5">
                                        <a href="form"
                                            class="focus:outline-none underline dark:text-white  py-3 px-5 rounded-full uppercase text-sm tracking-wide text-baclk font-bold hover:bg-red-400 cursor-pointer transition flex items-center ">
                                            Оставить заявку
                                    </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="flex flex-col rounded-lg shadow-lg overflow-hidden border border-gray border-opacity-20 dark:border-white dark:border-opacity-20 ">
                        <div class="flex-shrink-0">
                            <div
                                class="h-50 w-full text-black relative z-50 dark:bg-primary bg-white  flex flex-col items-center justify-center p-5 ">
                                <div class="z-60 relative  flex flex-col items-center content-between">
                                    <div class="flex flex-col items-center mb-5">
                                        <div class="pb-5">
                                            <img src="{% static '/img/icons/3.svg' %}" alt="">
                                        </div>

                                        <h1 class="text-lg card__title dark:text-green transition">Интернет магазин
                                        </h1>
                                    </div>
                                    <p
                                        class="text-sm text-center border-b dark:border-white dark:border-opacity-20 border-black border-opacity-20 dark:text-white pb-5 transition">
                                        Позволяет Вашим клиентам
                                        оплачивать
                                        товары/услуги
                                        в любое время и с любой точки мира на Ваш
                                        корпоративный счет, благодаря
                                        чему
                                        продажи компании в онлайн становятся бесперебойными.
                                    </p>

                                    <div class="flex flex-col w-full items-center mt-5">
                                        <a href="form"
                                            class="focus:outline-none underline dark:text-white  py-3 px-5 rounded-full uppercase text-sm tracking-wide text-baclk font-bold hover:bg-red-400 cursor-pointer transition flex items-center ">
                                            Оставить заявку
                                    </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        class="flex flex-col rounded-lg shadow-lg overflow-hidden border border-gray border-opacity-20 dark:border-white dark:border-opacity-20 ">
                        <div class="flex-shrink-0">
                            <div
                                class="h-50 w-full text-black relative z-50 dark:bg-primary bg-white  flex flex-col items-center justify-center p-5 ">
                                <div class="z-60 relative  flex flex-col items-center content-between">
                                    <div class="flex flex-col items-center mb-5">
                                        <div class="pb-5">
                                            <img src="{% static '/img/icons/4.svg' %}" alt="">
                                        </div>

                                        <h1 class="text-lg card__title dark:text-green transition">Корпоративный
                                        </h1>
                                    </div>
                                    <p
                                        class="text-sm text-center border-b dark:border-white dark:border-opacity-20 border-black border-opacity-20 dark:text-white pb-5 transition">
                                        Позволяет Вашим клиентам
                                        оплачивать
                                        товары/услуги
                                        в любое время и с любой точки мира на Ваш
                                        корпоративный счет, благодаря
                                        чему
                                        продажи компании в онлайн становятся бесперебойными.
                                    </p>

                                    <div class="flex flex-col w-full items-center mt-5">
                                        <a href="form"
                                            class="focus:outline-none underline dark:text-white  py-3 px-5 rounded-full uppercase text-sm tracking-wide text-baclk font-bold hover:bg-red-400 cursor-pointer transition flex items-center ">
                                            Оставить заявку
                                    </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


        </section>



</section>





<section class="py-20 dark:bg-primary p-10">
    <div class="container mx-auto">
        <div class="text-center w-full pb-10">
            <div class="flex items-center flex-col">
                <h1 class="lg:text-4xl text-3x1 home__sub-title">Почему выбирают нас</h1>
                <div class="w-10 h-1 bg-secondary mt-10"></div>
            </div>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 my-10">


            <div class="div bg-white p-10 text-black shadow-xl rounded-lg flex items-center">
                <span class="text-2xl mr-5">✍️</span>
                <span class="font-bold uppercase"> Рисуем сайты "с нуля"</span>
            </div>
            <div class="div bg-white p-10 text-black shadow-xl rounded-lg flex items-center">
                <span class="text-2xl mr-5">😎</span>
                <span class="font-bold uppercase"> Наши сайты быстрее</span>
            </div>
            <div class="div bg-white p-10 text-black shadow-xl rounded-lg flex items-center">
                <span class="text-2xl mr-5">🤑</span>
                <span class="font-bold uppercase">Адекватные цены</span>
            </div>
            <div class="div bg-white p-10 text-black shadow-xl rounded-lg flex items-center">
                <span class="text-2xl mr-5">😍</span>
                <span class="font-bold uppercase"> шустрый менеджер</span>
            </div>
            <div class="div bg-white p-10 text-black shadow-xl rounded-lg flex items-center">
                <span class="text-2xl mr-5">☕</span>
                <span class="font-bold uppercase"> Вкусный кофе</span>
            </div>
            <div class="div bg-white p-10 text-black shadow-xl rounded-lg flex items-center">
                <span class="text-2xl mr-5">👏</span>
                <span class="font-bold uppercase"> Программист экстраверт</span>
            </div>
            <!-- <div class="div bg-white p-10 text-black rounded-lg flex items-center">
                    <img class="w-10 h-10 mr-5" src="./assets/img/icons/17.svg" alt="">
                    <span class="font-bold uppercase"> Текст пишем сами</span>
                </div> -->


        </div>
    </div>
</section>




<section class="bg-off dark:bg-primary mb-20">
    <div class="px-5">
        <div class="flex flex-col items-center text-center">
            <h1 class="lg:text-4xl text-3x1 home__sub-title text-black dark:text-white mb-10">Наши работы</h1>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-4  gap-4">
            <div class="div"><a href="https://ordaplast.kz/"><img src="https://images.unsplash.com/photo-1570563918646-174e6dece0df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"></a></div>
            <div class="div"><a href="http://uzb.kz/"><img src="https://images.unsplash.com/photo-1550966871-3ed3cdb5ed0c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80"></a></div>
            <div class="div"><a href="http://stia.kz/"><img src="https://images.unsplash.com/photo-1581092160562-40aa08e78837?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80"></a></div>
            <div class="div"><a href="https://sauna-zhanarys-ast.kz/"><img src="https://images.unsplash.com/photo-1583416750470-965b2707b355?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"></a></div>
            <div class="div"><a href="http://ordatrans.kz/"><img src="https://images.unsplash.com/photo-1614976523626-d598aafd4fda?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80"></a></div>
            <div class="div"><a href="https://rem-plast.kz/"><img src="https://images.unsplash.com/photo-1481467804160-3cdf91aa1ac4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2071&q=80"></a></div>
            <div class="div"><a href="https://fontanero.kz/ru/"><img src="https://images.unsplash.com/photo-1517646287270-a5a9ca602e5c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80"></a></div>
            <div class="div"><a href="http://skincareshop.kz/"><img src="https://images.unsplash.com/photo-1576091160550-2173dba999ef?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80"></a></div>
            
        </div>


    </div>
</section>


<!-- <section>
        <div class="container mx-auto bg-primary p-10 rounded-lg">
            <h1 class="text-5x1">This website is built with Dorik, without writing any code</h1>
        </div>
    </section> -->


<!-- <section class="my-20 text-black">
        <div class="container mx-auto">
            <div class="text-center w-full pb-10">
                <h1 class="lg:text-4xl home__sub-title">Этап работы</h1>
            </div>
        </div>
    </section> -->


<section class="py-20 text-black bg-red overflow-hidden bg-marketing relative">

    <div class="background absolute w-full top-0 left-0 z-50">
        <div class="star1 star"></div>
        <div class="star2 star"></div>
        <div class="star3 star"></div>
        <div class="star4 star"></div>
    </div>
    <div class="container mx-auto relative z-50 text-white">


        <div class="flex flex-col items-center w-full pb-10">

            <h1 class="lg:text-4xl text-3x1 home__sub-title">Остались вопросы?</h1>
            <p class="py-10 px-5 lg:w-1/2 w-full text-center sub-title ">Оставьте свои контактные данные и мы гарантируем вам,
                что
                вы получите самую лучшую консультацию!</p>

            <a href="form" class="focus:outline-none py-4 px-6 bg-secondary text-white lg:w-1/1 text-black w-1/1 rounded-lg uppercase text-sm tracking-wide font-bold hover:bg-green-400 cursor-pointer transition ">
                Оставить заявку</a>
        </div>



    </div>
</section>


</div>

{% endblock content %}