{% extends 'base.html' %}

{% block content %}

{% include 'banner.html' with title='Блог веб-студии Apollo' subtitle="Лендинг на заказ" img='https://images.unsplash.com/photo-1529243856184-fd5465488984?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1969&q=80' %}

<div class="">
    <div class="container mx-auto pt-5">
        <div class="flex">
            <div class="flex-col">

            </div>
        </div>
    </div>
</div>
</div>

{% endblock content %}