{% extends 'base-thx.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/starts.css' %}" />
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

{% endblock %}
{% block content %}




<section id="home" class="text-white dark:bg-primary dark:text-white  home_marketing  relative overflow-hidden ">



    <div class="relative overflow-hidden flex flex-col items-center justify-center z-40 h-full">

        <div class="background absolute w-full top-0 left-0 z-50">
            <div class="star1 star"></div>
            <div class="star2 star"></div>
            <div class="star3 star"></div>
            <div class="star4 star"></div>
        </div>

        <div class="container mx-auto px-5 flex justify-center items-center text-center">
            <div class="lg:w-1/2 w-full rounded-lg bg-white  relative z-60">

                <div class="flex flex-col items-center w-full p-10  text-black">

                    <h1
                        class="home__sub-title text-5xl text-center bg-clip-text text-transparent bg-gradient-to-br dark:from-green from-black to-primary dark:to-blueLight p-2">
                        Спасибо!</h1>
                    <div class="w-10 h-1 bg-secondary my-2"></div>
                    <p class="mt-5">Ваша заявка отправлена, в ближайщее время наш менеджер свяжется с вами! </p>

                    <a href="{% url 'main:index' %}"
                        class=" w-full hover:bg-greenDark transitiona-all focus:outline-none py-2 px-6 bg-green text-black rounded-lg mt-10 uppercase text-sm tracking-wide font-bold hover:bg-green-400 cursor-pointer transition ">
                        Вернуться на главную</a>
                    </a>

                </div>
            </div>
        </div>











</section>






{% endblock content %}